<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Dealerlocator>
            <version>0.1.0</version>
        </Magebuzz_Dealerlocator>
    </modules>
    <frontend>
        <routers>
            <dealerlocator>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Dealerlocator</module>
                    <frontName>dealer-locator</frontName>
                </args>
            </dealerlocator>
        </routers>
        <layout>
            <updates>
                <dealerlocator>
                    <file>dealerlocator.xml</file>
                </dealerlocator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<dealerlocator>
				<use>admin</use>
				<args>
					<module>Magebuzz_Dealerlocator</module>
					<frontName>dealerlocator</frontName>
				</args>
			</dealerlocator>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<dealerlocator>
					<file>dealerlocator.xml</file>
				</dealerlocator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <dealerlocator>
                <class>Magebuzz_Dealerlocator_Model</class>
                <resourceModel>dealerlocator_mysql4</resourceModel>
            </dealerlocator>
            <dealerlocator_mysql4>
                <class>Magebuzz_Dealerlocator_Model_Mysql4</class>
                <entities>
                    <dealerlocator>
                        <table>dealerlocator</table>
                    </dealerlocator>
                </entities>
            </dealerlocator_mysql4>
        </models>
        <resources>
            <dealerlocator_setup>
                <setup>
                    <module>Magebuzz_Dealerlocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dealerlocator_setup>
            <dealerlocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dealerlocator_write>
            <dealerlocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dealerlocator_read>
        </resources>
        <blocks>
            <dealerlocator>
                <class>Magebuzz_Dealerlocator_Block</class>
            </dealerlocator>
        </blocks>
        <helpers>
            <dealerlocator>
                <class>Magebuzz_Dealerlocator_Helper</class>
            </dealerlocator>
        </helpers>
    </global>
	<default>
        <magebuzz>
            <google_map_options>
                <google_geo_api_url>http://maps.googleapis.com/maps/api/geocode/json</google_geo_api_url>
				<show_search_form>1</show_search_form>
				<show_map_on_page_load>1</show_map_on_page_load>
				<default_search_radius>25</default_search_radius>
				<distance_units>1</distance_units>
				<number_of_result>20</number_of_result>
				<show_top_link>1</show_top_link>
            </google_map_options>
        </magebuzz>
    </default>
</config>