<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_AjaxFilter>
            <version>1.0.0</version>
        </Eternal_AjaxFilter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <eternal_ajaxfilter>
                    <file>eternal_ajaxfilter.xml</file>
                </eternal_ajaxfilter>
            </updates>
        </layout>
        <routers>
            <eternal_ajaxfilter>
                <use>standard</use>
                <args>
                    <module>Eternal_AjaxFilter</module>
                    <frontName>eternal_ajaxfilter</frontName>
                </args>
            </eternal_ajaxfilter>
            <catalog>
                <args>
                    <modules>
                        <Eternal_AjaxFilter before="Mage_Catalog">Eternal_AjaxFilter_Catalog</Eternal_AjaxFilter>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Eternal_AjaxFilter before="Mage_CatalogSearch">Eternal_AjaxFilter_CatalogSearch</Eternal_AjaxFilter>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
    <global>
        <models>
            <eternal_ajaxfilter>
                <class>Eternal_AjaxFilter_Model</class>
            </eternal_ajaxfilter>
            <catalog>
                <rewrite>
                    <layer>Eternal_AjaxFilter_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Eternal_AjaxFilter_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <blocks>
            <eternal_ajaxfilter>
                <class>Eternal_AjaxFilter_Block</class>
            </eternal_ajaxfilter>
            <catalog>
                <rewrite>
                    <layer_filter_price>Eternal_AjaxFilter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <eternal_ajaxfilter>
                <class>Eternal_AjaxFilter_Helper</class>
            </eternal_ajaxfilter>
        </helpers>
    </global>
    <default>
        <eternal_ajaxfilter>
            <general>
                <layered>1</layered>
                <slider>1</slider>
                <toolbar>1</toolbar>
                <overlay_opacity>0.15</overlay_opacity>
                <overlay_color>#000000</overlay_color>
                <loading_image></loading_image>
                <loading_text></loading_text>
                <loading_text_color>#ffffff</loading_text_color>
            </general>
            <price_slider>
                <enable>1</enable>
                <timeout>0</timeout>
                <textbox>1</textbox>
                <step>0.01</step>
                <fromText>from</fromText>
                <toText>to</toText>
                <goBtnText>OK</goBtnText>
                <clearBtnText>Clear</clearBtnText>
            </price_slider>
        </eternal_ajaxfilter>
    </default>
</config>