<?xml version="1.0"?>
<config>
    <modules>
        <Egghead_TextOverlay>
            <version>0.0.1</version>
        </Egghead_TextOverlay>
    </modules>
    <global>
        <helpers>
            <textOverlay>
                <class>Egghead_TextOverlay_Helper</class>
            </textOverlay>
        </helpers>
        <blocks>
            <textOverlay>
                <class>Egghead_TextOverlay_Block</class>
            </textOverlay>
        </blocks>
    </global>
</config>