<?xml version="1.0"?>

<config>
    <modules>
        <Eternal_Venedor>
                <version>1.2.3</version>
        </Eternal_Venedor>
    </modules>
    
    <admin>
        <routers>
            <venedor>
                <use>admin</use>
                <args>
                    <module>Eternal_Venedor</module>
                    <frontName>venedor</frontName>
                </args>
            </venedor>
        </routers>
    </admin>
    
    <global>
        <blocks>
            <venedor>
                <class>Eternal_Venedor_Block</class>
            </venedor>
            <core>
                <rewrite>
                    <messages>Eternal_Venedor_Block_Core_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <venedor>
                <class>Eternal_Venedor_Helper</class>
            </venedor>
        </helpers>
        <models>
            <venedor>
                <class>Eternal_Venedor_Model</class>
            </venedor>
        </models>
        <resources>
            <venedor_setup>
                <setup>
                    <module>Eternal_Venedor</module>
                    <class>Eternal_Venedor_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </venedor_setup>
            <venedor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </venedor_write>
            <venedor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </venedor_read>
        </resources>
    </global>
    
    <adminhtml>
        <events>                
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <venedor>
                        <type>singleton</type>
                        <class>venedor/observer</class>
                        <method>venedor_controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
                    </venedor>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <venedor>
                        <type>singleton</type>
                        <class>venedor/observer</class>
                        <method>venedor_storeEdit</method>
                    </venedor>
                </observers>
            </store_edit>
        </events>
        <layout>
            <updates>
                <basket>
                    <file>eternal_venedor.xml</file>
                </basket>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <!-- Theme Setting -->
        <venedor_setting>
            <general>
                <bootstrap_version>3.0.0</bootstrap_version>
                <bootstrap_layout>fixed</bootstrap_layout>
                <active_responsive>1</active_responsive>
                <logo>logo.png</logo>
                <favicon>favicon.ico</favicon>
                <icon_iphone>apple-touch-icon.png</icon_iphone>
                <icon_iphone_retina>apple-touch-icon-114x114.png</icon_iphone_retina>
                <icon_ipad>apple-touch-icon-72x72.png</icon_ipad>
                <icon_ipad_retina>apple-touch-icon-144x144.png</icon_ipad_retina>
            </general>
            <header>
                <switcher_position>top</switcher_position>
                <cart_position>bottom</cart_position>
                <custom_block>block_header_contact</custom_block>
                <menu_position>left</menu_position>
                <fixed>1</fixed>
                <fixed_logo>1</fixed_logo>
            </header>
            <footer>
                <show_subscribe>0</show_subscribe>
                <show_tweets>1</show_tweets>
                <footer_col_1>default</footer_col_1>
                <footer_col_2>custom</footer_col_2>
                <footer_col_2_block>block_footer_links</footer_col_2_block>
                <footer_col_3>custom</footer_col_3>
                <footer_col_3_block>block_footer_contact</footer_col_3_block>
                <footer_col_4>facebook</footer_col_4>
            </footer>
            <category>
                <banner_type>simple_banner</banner_type>
                <banner_below_breadcrumbs>1</banner_below_breadcrumbs>
                <banner_animation>fade</banner_animation>
                <banner_speed>4000</banner_speed>
                <hover_image>1</hover_image>
                <image_order>2</image_order>
                <grid_align>center</grid_align>
                <grid_effect>1</grid_effect>
                <grid_addliks_inline>1</grid_addliks_inline>
            </category>
            <product>
                <aspect_ratio>0</aspect_ratio>
                <image_ratio>1</image_ratio>
                <price_on_image>1</price_on_image>
                <new_label>1</new_label>
                <new_label_pos>top-left</new_label_pos>
                <new_label_type>rect</new_label_type>
                <sale_label>1</sale_label>
                <sale_label_pos>top-left</sale_label_pos>
                <sale_label_type>rect</sale_label_type>
                <addthis_enable>1</addthis_enable>
                <addlinks_compare>1</addlinks_compare>
                <addlinks_wishlist>1</addlinks_wishlist>
            </product>
            <navigation>                
                <show_all>1</show_all>                
            </navigation>
            <sidebar>
                <ads_blocks>sidebar_advertising1,sidebar_advertising2,sidebar_advertising3</ads_blocks>
                <slide_count>3</slide_count>
            </sidebar>
            <contactus>
                <gmap_enable>1</gmap_enable>
                <gmap_address></gmap_address>
                <gmap_maker>icon_gmap.png</gmap_maker>
            </contactus>
            <twitter>
                <enable>0</enable>
                <limit>6</limit>
                <profile_image>0</profile_image>
            </twitter>
            <facebook>
                <enable>0</enable>
                <limit>6</limit>
            </facebook>
        </venedor_setting>
        <!-- Theme Design -->
        <venedor_design>
            <general>
                <text_color>#737373</text_color>
                <font_size>15px</font_size>
                <font_family_group>"Helvetica Neue", Helvetica, Arial, sans-serif</font_family_group>
                <font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</font_family_custom>
                <font_family>PT Sans</font_family>
                <link_color>#7bae23</link_color>
                <link_hover_color>#838383</link_hover_color>
                <icon_set>green</icon_set>
                <heading_font_weight>normal</heading_font_weight>
                <heading_font_family_group>google</heading_font_family_group>
                <heading_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</heading_font_family_custom>
                <heading_font_family>Oswald</heading_font_family>
                <heading_text_transform>uppercase</heading_text_transform>
                <desc_font_family_group>google</desc_font_family_group>
                <desc_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</desc_font_family_custom>
                <desc_font_family>PT Sans</desc_font_family>
                <btn_text_transform>uppercase</btn_text_transform>
                <btn_border_radius>3px</btn_border_radius>
                <btn_border_width>1px</btn_border_width>
                <btn_color>#e8e8e8</btn_color>
                <btn_icon_type>white/</btn_icon_type>
                <btn_bg_color>#444645</btn_bg_color>
                <btn_border_color>#444645</btn_border_color>
                <btn_hover_color>#ffffff</btn_hover_color>
                <btn_hicon_type>white/</btn_hicon_type>
                <btn_hbg_color>#7bae23</btn_hbg_color>
                <btn_hborder_color>#7bae23</btn_hborder_color> 
                <btn_shover_color>#ffffff</btn_shover_color>
                <btn_sicon_type>white/</btn_sicon_type>
                <btn_sbg_color>#84bb26</btn_sbg_color>
                <btn_sborder_color>#84bb26</btn_sborder_color>
                <arrow_color>#757575</arrow_color>
                <arrow_icon_type>grey/</arrow_icon_type>
                <arrow_border_radius>3px</arrow_border_radius>
                <arrow_border_width>1px</arrow_border_width>
                <arrow_border_color>#e0e0e0</arrow_border_color>
                <arrow_bg_color>#fafafa</arrow_bg_color>
                <toolbar_btn_bg_color>#f2f2f2</toolbar_btn_bg_color>
                <input_color>#a4a4a4</input_color> 
                <input_border_color>#e0e0e0</input_border_color>
                <input_bg_color>#ffffff</input_bg_color>
                <input_border_radius>3px</input_border_radius>              
                <input_border_width>1px</input_border_width>              
            </general>
            <page>
                <bg_color>#fff</bg_color>
                <bg_mode>texture</bg_mode>
                <bg_repeat>repeat</bg_repeat>
                <bg_attachment>scroll</bg_attachment>
                <bg_position_x>center</bg_position_x>
                <bg_position_y>center</bg_position_y>
                <texture>0</texture>                
            </page>
            <header>
                <top_font_size>14px</top_font_size>
                <top_bg_color>#f5f5f5</top_bg_color>
                <top_border_color>#7bae23</top_border_color>
                <top_border_width>4px</top_border_width>
                <top_links_color></top_links_color>
                <top_links_hover_color></top_links_hover_color>
                <font_size>14px</font_size>
                <color>#494940</color>
                <hover_color>#7bae23</hover_color>
                <bg_color>#ffffff</bg_color>
                <texture>0</texture>
                <logo_top>0</logo_top>
                <toplinks_color>#7f7d74</toplinks_color>
                <toplinks_hover_color>#7bae23</toplinks_hover_color>
                <block_border_color>#e7e7e7</block_border_color>
                <block_border_width>1px</block_border_width>
                <block_bg_color>#f7f7f7</block_bg_color>
                <switcher_customize>1</switcher_customize>
                <switcher_text_color>#ffffff</switcher_text_color>
                <switcher_bg_color>#7bae23</switcher_bg_color>
                <switcher_border_color>#7bae23</switcher_border_color>
                <switcher_border_width>0</switcher_border_width>
                <switcher_hover_color>#ffffff</switcher_hover_color>
                <switcher_hbg_color>#84bb26</switcher_hbg_color>
                <switcher_hborder_color>#84bb26</switcher_hborder_color>
                <switcher_hborder_width>0</switcher_hborder_width>
                <switcher_popup_text_color>#444645</switcher_popup_text_color>
                <switcher_popup_bg_color>#e2e2e2</switcher_popup_bg_color>
                <switcher_popup_border_color>#ffffff</switcher_popup_border_color>
                <switcher_popup_border_width>1px 0 0 0</switcher_popup_border_width>
                <cart_customize>1</cart_customize>
                <cart_text_color>#ffffff</cart_text_color>
                <cart_icon_type>white/</cart_icon_type>
                <cart_bg_color>#7bae23</cart_bg_color>
                <cart_border_color>#7bae23</cart_border_color>
                <cart_border_width>0</cart_border_width>
                <cart_hover_color>#ffffff</cart_hover_color>
                <cart_hicon_type>white/</cart_hicon_type>
                <cart_hbg_color>#84bb26</cart_hbg_color>
                <cart_hborder_color>#84bb26</cart_hborder_color>
                <cart_hborder_width>0</cart_hborder_width>
                <search_input_width>160px</search_input_width>
                <search_customize>1</search_customize>
                <search_textbox_text_color>#a4a4a4</search_textbox_text_color>
                <search_text_bg_color></search_text_bg_color>
                <search_text_border_color>#e0e0e0</search_text_border_color>
                <search_text_border_width>1px</search_text_border_width>
                <search_btn_icon_type>white/</search_btn_icon_type>
                <search_btn_bg_color>#7bae23</search_btn_bg_color>
                <search_btn_border_color>#7bae23</search_btn_border_color>
                <search_btn_border_width>0</search_btn_border_width>
                <search_btn_hicon_type>white/</search_btn_hicon_type>
                <search_btn_hbg_color>#84bb26</search_btn_hbg_color>
                <search_btn_hborder_color>#84bb26</search_btn_hborder_color>
                <search_btn_hborder_width>0</search_btn_hborder_width>
            </header>
            <top_menu>
                <bg_color>#ffffff</bg_color>
                <texture>0</texture>
                <font_size>17px</font_size>
                <font_weight>bold</font_weight>
                <font_family_group>google</font_family_group>
                <font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</font_family_custom>
                <font_family>PT Sans</font_family>
                <margin_top>0</margin_top>
                <padding_bottom>15px</padding_bottom>
                <link_color>#494940</link_color>
                <link_hover_color>#7bae23</link_hover_color>
                <link_bg_color>#ffffff</link_bg_color>
                <link_bg_hover_color></link_bg_hover_color>
                <link_show_border>0</link_show_border>
                <popup_bg_color>#fafafa</popup_bg_color>
                <popup_border_width>3px 0 0 0</popup_border_width>
                <popup_border_color>#7bae23</popup_border_color>
                <popup_color>#4c4e4d</popup_color>
                <popup_hover_color>#7bae23</popup_hover_color>
                <popup_level1_font_size>16px</popup_level1_font_size>
                <popup_level1_font_weight>bold</popup_level1_font_weight>
                <popup_level1_font_family_group>google</popup_level1_font_family_group>
                <popup_level1_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</popup_level1_font_family_custom>
                <popup_level1_font_family>Gudea</popup_level1_font_family>
                <mobile_level2_bg_color>#f6f6f6</mobile_level2_bg_color>
                <mobile_level3_bg_color>#ffffff</mobile_level3_bg_color>
            </top_menu>
            <footer>
                <title_font_size>19px</title_font_size>
                <title_font_weight>normal</title_font_weight>
                <title_font_family_group>google</title_font_family_group>
                <title_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</title_font_family_custom>
                <title_font_family>Oswald</title_font_family>
                <font_size>15px</font_size>
                <font_weight>normal</font_weight>
                <font_family_group>google</font_family_group>
                <font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</font_family_custom>
                <font_family>Gudea</font_family>
                <color>#cccccc</color>
                <hover_color>#84bb26</hover_color>
                <title_color>#e3e3e3</title_color>
                <bg_color>#444645</bg_color>
                <texture>0</texture>
                <bottom_text_color>#cccccc</bottom_text_color>
                <bottom_hover_color>#84bb26</bottom_hover_color>
                <bottom_bg_color>#444645</bottom_bg_color>
                <top_bottom_border_color>#383938</top_bottom_border_color>
                <bottom_top_border_color>#535554</bottom_top_border_color>
                <social_icon_bg_color>#626664</social_icon_bg_color>
            </footer>
            <breadcrumbs>
                <color>#ffffff</color>
                <hover_color>#eeeeee</hover_color>
                <separator>&gt;</separator>
                <font_size>13px</font_size>
                <font_weight>normal</font_weight>
                <font_family_group>google</font_family_group>
                <font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</font_family_custom>
                <font_family>Oswald</font_family>
                <border_top_width>0</border_top_width>
                <border_top_color>#d5d5d5</border_top_color>
                <border_bottom_width>0</border_bottom_width>
                <border_bottom_color>#d5d5d5</border_bottom_color>
                <show_bg>1</show_bg>
                <bg_color>#7bae23</bg_color>
                <texture>0</texture>
            </breadcrumbs>
            <category>
                <banner_border_top_width>0</banner_border_top_width>
                <banner_border_top_color>#d5d5d5</banner_border_top_color>
                <banner_border_bottom_width>0</banner_border_bottom_width>
                <banner_border_bottom_color>#d5d5d5</banner_border_bottom_color>
                <bg_color>#f2f2f2</bg_color><!-- banner backgroun color -->
                <texture>0</texture><!-- banner backgroun texture -->
                <banner_color>#585858</banner_color>
                <banner_shadow_color>#ffffff</banner_shadow_color>
                <banner_price_color>#e82c0c</banner_price_color>
                <item_bg_color></item_bg_color>
                <item_border_color>#e8e8e8</item_border_color>
                <item_border_width>0</item_border_width>
                <item_shadow>0 0 0 #cccccc</item_shadow>
                <item_hbg_color>#ffffff</item_hbg_color>
                <item_hborder_color>#e8e8e8</item_hborder_color>
                <item_hborder_width>1px</item_hborder_width>
                <item_hshadow>0 0 1px #e8e8e8</item_hshadow>
            </category>
            <product>
                <price_font_weight>bold</price_font_weight>
                <price_font_family_group>google</price_font_family_group>
                <price_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</price_font_family_custom>
                <price_font_family>Gudea</price_font_family>
                <price_color>#ffffff</price_color>
                <price_old_color>#626564</price_old_color>
                <price_bg_color>#a8bf00</price_bg_color>
                <save_font_weight>normal</save_font_weight>
                <save_font_family_group>google</save_font_family_group>
                <save_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</save_font_family_custom>
                <save_font_family>Oswald</save_font_family>
                <price_save_color>#ffffff</price_save_color>
                <price_save_bg_color>#c72929</price_save_bg_color>
                <price_new_color>#ffffff</price_new_color>
                <price_new_bg_color>#7bae23</price_new_bg_color>
                <name_font_family_group>google</name_font_family_group>
                <name_font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</name_font_family_custom>
                <name_font_family>PT Sans</name_font_family>
                <review_color>#cccccc</review_color>
                <addcart_customize>0</addcart_customize>
                <addcart_color>#e8e8e8</addcart_color>
                <addcart_bg_color>#575a59</addcart_bg_color>
                <addcart_border_color>#575a59</addcart_border_color>
                <addcart_icon_type>white/</addcart_icon_type>
                <addcart_hover_color>#ffffff</addcart_hover_color>
                <addcart_hbg_color>#7bae23</addcart_hbg_color>
                <addcart_hborder_color>#7bae23</addcart_hborder_color>
                <addcart_hicon_type>white/</addcart_hicon_type>
                <addto_customize>0</addto_customize>
                <addto_bg_color>#7bae23</addto_bg_color>
                <addto_border_color>#7bae23</addto_border_color>
                <addto_icon_type>white/</addto_icon_type>
                <addto_hbg_color>#575a59</addto_hbg_color>
                <addto_hborder_color>#575a59</addto_hborder_color>
                <addto_hicon_type>white/</addto_hicon_type>
            </product>
            <block>
                <font_size>15px</font_size>
                <font_family_group>google</font_family_group>
                <font_family_custom>"Helvetica Neue", Helvetica, Arial, sans-serif</font_family_custom>
                <font_family>Gudea</font_family>
                <title_font_weight>bold</title_font_weight>
                <title_text_transform>uppercase</title_text_transform>
                <subtitle_font_weight>bold</subtitle_font_weight>
                <subtitle_text_transform>uppercase</subtitle_text_transform>
                <border_color>#dcdcdc</border_color>
                <border_light_color>#eeeeee</border_light_color>
                <title_color>#565656</title_color>
                <title_bg_color>#f4f4f4</title_bg_color>
                <bg_color>#f7f7f7</bg_color>
                <thick_bg_color1>#ececec</thick_bg_color1>
                <thick_bg_color2>#e5e5e5</thick_bg_color2>
                <light_bg_color>#fcfcfc</light_bg_color>
                <price_color>#e82c0c</price_color>
                <form_text_color>#797878</form_text_color>
                <form_step_color>#777777</form_step_color>
            </block>
            <home_slider>
                <bg_color>#dcdcdc</bg_color>
                <bg_mode>texture</bg_mode>
                <bg_repeat>repeat</bg_repeat>
                <bg_attachment>scroll</bg_attachment>
                <bg_position_x>center</bg_position_x>
                <bg_position_y>center</bg_position_y>
                <texture>0</texture>
                <border_top_width>0</border_top_width>
                <border_top_color>#dcdcdc</border_top_color>
                <border_bottom_width>1px</border_bottom_width>
                <border_bottom_color>#dcdcdc</border_bottom_color>
                <price_color>#ffffff</price_color>
                <price_bg_color>#a8bf00</price_bg_color>
                <arrow_customize>0</arrow_customize>
                <arrow_bg_color>#fafafa</arrow_bg_color>
                <arrow_border_color>#e0e0e0</arrow_border_color>
                <arrow_icon_type>grey/</arrow_icon_type>
                <arrow_hbg_color>#84bb26</arrow_hbg_color>
                <arrow_hborder_color>#84bb26</arrow_hborder_color>
                <arrow_hicon_type>white/</arrow_hicon_type>                
            </home_slider>
            <subscribe>
                <bg_color>#d6d6d6</bg_color>
                <title_color>#444b4c</title_color>
                <textbox_color>#727b7c</textbox_color>
                <textbox_bg_color>#d6d6d6</textbox_bg_color>
                <textbox_border_color>#ffe019</textbox_border_color>
                <textbox_border_width>3px</textbox_border_width> 
            </subscribe>
            <twitter>
                <bg_color>#84bb26</bg_color>
                <text_color>#444645</text_color>
                <link_color>#cdfa7e</link_color>
                <hover_color>#686a69</hover_color>
                <date_color>#cdfa7e</date_color>
                <icon>icon_twitter.png</icon>
                <icon_bottom>-15px</icon_bottom>
                <arrow_customize>0</arrow_customize>
                <arrow_bg_color>#84bb26</arrow_bg_color>
                <arrow_border_color>#84bb26</arrow_border_color>
                <arrow_icon_type>grey/</arrow_icon_type>
                <arrow_hbg_color>#444645</arrow_hbg_color>
                <arrow_hborder_color>#444645</arrow_hborder_color>
                <arrow_hicon_type>white/</arrow_hicon_type>
            </twitter>
        </venedor_design>
        <!-- Theme Data -->
        <venedor_data>
            <theme_import>
                <overwrite_blocks>0</overwrite_blocks>
                <overwrite_pages>0</overwrite_pages>
                <import_theme>green</import_theme>
            </theme_import>
        </venedor_data>
    </default>
</config>