<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_AjaxCart>
            <version>1.0.0</version>
        </Eternal_AjaxCart>
    </modules>
    <global>
        <models>
            <eternal_ajaxcart>
                <class>Eternal_AjaxCart_Model</class>
            </eternal_ajaxcart>
        </models>
        <blocks>
            <eternal_ajaxcart>
                <class>Eternal_AjaxCart_Block</class>
            </eternal_ajaxcart>
            <checkout>
                <rewrite>
                    <cart_crosssell>Eternal_AjaxCart_Block_Checkout_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
            <catalog>
                <rewrite>
                    <product_list>Eternal_AjaxCart_Block_Catalog_Product_List</product_list>
                    <product_list_crosssell>Eternal_AjaxCart_Block_Catalog_Product_List_Crosssell</product_list_crosssell>
                    <product_list_promotion>Eternal_AjaxCart_Block_Catalog_Product_List_Promotion</product_list_promotion>
                    <product_list_random>Eternal_AjaxCart_Block_Catalog_Product_List_Random</product_list_random>
                    <product_list_related>Eternal_AjaxCart_Block_Catalog_Product_List_Related</product_list_related>
                    <product_list_upsell>Eternal_AjaxCart_Block_Catalog_Product_List_Upsell</product_list_upsell>
                    <product_compare_list>Eternal_AjaxCart_Block_Catalog_Product_Compare_List</product_compare_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <eternal_ajaxcart>
                <class>Eternal_AjaxCart_Helper</class>
            </eternal_ajaxcart>
        </helpers>
        <rewrite>
            <Eternal_ajaxcart_checkout_cart>
                <from><![CDATA[#^/checkout/cart/#]]></from>
                <to>/eternal_ajaxcart/checkout_cart/</to>
            </Eternal_ajaxcart_checkout_cart>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <eternal_ajaxcart>
                <use>standard</use>
                <args>
                    <module>Eternal_AjaxCart</module>
                    <frontName>eternal_ajaxcart</frontName>
                </args>
            </eternal_ajaxcart>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <eternal_ajaxcart>
                        <type>singleton</type>
                        <class>eternal_ajaxcart/observer</class>
                        <method>addToCartEvent</method>
                    </eternal_ajaxcart>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_item_complete>
                <observers>
                    <eternal_ajaxcart>
                        <type>singleton</type>
                        <class>eternal_ajaxcart/observer</class>
                        <method>updateItemEvent</method>
                    </eternal_ajaxcart>
                </observers>
            </checkout_cart_update_item_complete>
            <!--for configurable products-->
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <eternal_ajaxcart>
                        <class>eternal_ajaxcart/observer</class>
                        <method>getConfigurableOptions</method>
                    </eternal_ajaxcart>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <!--for group products-->
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <eternal_ajaxcart>
                        <type>singleton</type>
                        <class>eternal_ajaxcart/observer</class>
                        <method>getGroupProductOptions</method>
                    </eternal_ajaxcart>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
        <layout>
            <updates>
                <eternal_ajaxcart>
                    <file>eternal_ajaxcart.xml</file>
                </eternal_ajaxcart>
            </updates>
        </layout>
    </frontend>
    <default>
        <eternal_ajaxcart>
            <general>
                <enable>1</enable>
                <update_blocks>a:2:{s:2:"id";a:3:{i:0;s:28:".header-container #mini-cart";i:1;s:27:".header-container .toplinks";i:2;s:26:".checkout-cart-index .cart";}s:3:"xml";a:3:{i:0;s:12:"cart_sidebar";i:1;s:9:"top.links";i:2;s:13:"checkout.cart";}}</update_blocks>
            </general>
        </eternal_ajaxcart>
    </default>
</config>
