<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Tegdesign_Emailcollector>
            <version>2.0.2</version>
        </Tegdesign_Emailcollector>
    </modules>
    <global>
        <blocks>
            <tegdesign_emailcollector>
                <class>Tegdesign_Emailcollector_Block</class>
            </tegdesign_emailcollector>
        </blocks>
        <models>
            <tegdesign_emailcollector>
                <class>Tegdesign_Emailcollector_Model</class>
                <resourceModel>tegdesign_emailcollector_mysql4</resourceModel>
            </tegdesign_emailcollector>
            <tegdesign_emailcollector_mysql4>
                <class>Tegdesign_Emailcollector_Model_Mysql4</class>
                <entities>
                    <emails>
                        <table>tegdesign_emailcollector_emails</table>
                    </emails>
                </entities>
            </tegdesign_emailcollector_mysql4>
        </models>
        <resources>
            <tegdesign_emailcollector_setup>
                <setup>
                    <module>Tegdesign_Emailcollector</module>
                </setup>
            </tegdesign_emailcollector_setup>
        </resources>
        <helpers>
            <tegdesign_emailcollector>
                <class>Tegdesign_Emailcollector_Helper</class>
            </tegdesign_emailcollector>
        </helpers>   
        <template>
            <email>
                <tegdesign_emailcollector_options_settings_emailcollector_template translate="label" module="tegdesign_emailcollector">
                    <label>E-mail Collector Autoresponder</label>
                    <file>tegdesign_emailcollector/autoresponder.html</file>
                    <type>html</type>
                </tegdesign_emailcollector_options_settings_emailcollector_template>
            </email>
        </template>
    </global>
    <frontend>
        <events>
            <customer_save_after>
                <observers>
                    <save_to_newsletter>
                        <type>singleton</type>
                        <class>Tegdesign_Emailcollector_Model_Observer</class>
                        <method>addToNewsletter</method>
                    </save_to_newsletter>
                </observers>
            </customer_save_after>
        </events>
        <routers>   
            <tegdesign_emailcollector>
                <use>standard</use>
                <args>
                    <module>Tegdesign_Emailcollector</module>
                    <frontName>emailcollector</frontName>
                </args>
            </tegdesign_emailcollector>
        </routers>
        <secure_url>
            <emailcollector>/emailcollector/</emailcollector>
        </secure_url>
        <layout>
            <updates>
                <tegdesign_emailcollector module="tegdesign_emailcollector">
                    <file>tegdesign_emailcollector.xml</file>
                </tegdesign_emailcollector>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tegdesign_Emailcollector before="Mage_Adminhtml">Tegdesign_Emailcollector_Adminhtml</Tegdesign_Emailcollector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tegdesign_emailcollector_options>
                                            <title>Email Collector Settings</title>
                                        </tegdesign_emailcollector_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <tegdesign_emailcollector>
                    <file>tegdesign_emailcollector/emails.xml</file>
                </tegdesign_emailcollector>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <tegdesign_emailcollector_options>
            <settings>
                <sender_email_identity>support</sender_email_identity>
                <copy_method>bcc</copy_method>
                <emailcollector_template>email_collector_template</emailcollector_template>
                <magento_email>1</magento_email>
                <mailchimp_enabled>0</mailchimp_enabled>
                <mailchimp_autoresponder_enabled>0</mailchimp_autoresponder_enabled>
            </settings>
            <promosettings>
                <popup_heading><![CDATA[Join Our Email List And Save]]></popup_heading>
                <popup_subtxt><![CDATA[Be the first to know about special offers and updates from our store. You'll also get a special coupon code by entering your email address below.]]></popup_subtxt>
                <popup_footertxt><![CDATA[*This one-time offer is valid for new customers only. The offer code will be sent to your email address.]]></popup_footertxt>
                <popup_btntxt>Submit</popup_btntxt>
                <popup_btncancel>No Thanks</popup_btncancel>
                <popup_delay>800</popup_delay>
                <popup_opacity>0.8</popup_opacity>
                <popup_only_homepage>1</popup_only_homepage>
                <use_coupon>1</use_coupon>
                <redirect_url>/</redirect_url>
                <error_url>/</error_url>
                <module_enabled>0</module_enabled>
                <cookie_expires>365</cookie_expires>
                <track>dont_track</track>
                <redirect_opts>redirect_same_page</redirect_opts>
                <show_responsive_on_mobile>0</show_responsive_on_mobile>
                <labels>label</labels>
                <email_validation>1</email_validation>
                <show_close_x>0</show_close_x>
            </promosettings>
            <regopts>
                <forcereg>0</forcereg>
                <addtonewsletter>1</addtonewsletter>
            </regopts>
            <advancedsettings>
                <manual_popup_mode_enabled>0</manual_popup_mode_enabled>
            </advancedsettings>
        </tegdesign_emailcollector_options>
    </default>
</config>