<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Egghead_AddProductsToOrderGrid>
			<version>1</version>
		</Egghead_AddProductsToOrderGrid>
	</modules>
	<global>
        <blocks>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Egghead_AddProductsToOrderGrid_Block_Adminhtml_Order_Grid</sales_order_grid>
				</rewrite>                			
			</adminhtml>
		</blocks>
	</global>
</config>
